@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model List<Bakery.Models.Flavour>

<h3>Pierre's Flavour Profiles</h3>
<h5>Please click the add flavour button to add a flavour to your profile.</h5>

@if (@Model.Count == 0)
{
  <h3>Oops! There are no saved flavour profiles.  Please add a Flavour with the button below.</h3>
} 

<ul>
  @foreach(Flavour flavour in Model)
  {
    <li>@Html.ActionLink($"{flavour.Name}", "Details", new { id = flavour.FlavourId })</li>
  }
</ul>

<p>@Html.ActionLink("Add Flavour", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>